{#<table class="kurlarTablo" border="0" cellpadding="0" cellspacing="0">#}
{#    <thead>#}
{#    <tr>#}
{#        <th>#}
{#            <strong>Döviz Kodu</strong><br>Currency Code#}
{#        </th>#}
{#        <th>#}
{#            <strong>Birim</strong><br>Unit#}
{#        </th>#}
{#        <th>#}
{#            <strong>Döviz Cinsi</strong><br>Currency#}
{#        </th>#}
{#        <th>#}
{#            <strong>Döviz Alış</strong><br>Forex Buying#}
{#        </th>#}
{#        <th>#}
{#            <strong>Döviz Satış</strong><br>Forex Selling#}
{#        </th>#}
{#        <th>#}
{#            <strong>Efektif Alış</strong><br>Banknote Buying#}
{#        </th>#}
{#        <th>#}
{#            <strong>Efektif Satış</strong><br>Banknote Selling#}
{#        </th>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/USD.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>USD/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">ABD DOLARI</td>#}
{#        <td class="deger">15.7886</td>#}
{#        <td class="deger">15.8171</td>#}
{#        <td class="deger efdeger">15.7776</td>#}
{#        <td class="deger efdeger">15.8408</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/AUD.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>AUD/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">AVUSTRALYA DOLARI</td>#}
{#        <td class="deger">11.0684</td>#}
{#        <td class="deger">11.1406</td>#}
{#        <td class="deger efdeger">11.0175</td>#}
{#        <td class="deger efdeger">11.2075</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/DKK.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>DKK/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">DANİMARKA KRONU</td>#}
{#        <td class="deger">2.2222</td>#}
{#        <td class="deger">2.2331</td>#}
{#        <td class="deger efdeger">2.2207</td>#}
{#        <td class="deger efdeger">2.2383</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/EUR.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>EUR/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">EURO</td>#}
{#        <td class="deger">16.5628</td>#}
{#        <td class="deger">16.5926</td>#}
{#        <td class="deger efdeger">16.5512</td>#}
{#        <td class="deger efdeger">16.6175</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/GBP.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>GBP/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">İNGİLİZ STERLİNİ</td>#}
{#        <td class="deger">19.6206</td>#}
{#        <td class="deger">19.7229</td>#}
{#        <td class="deger efdeger">19.6069</td>#}
{#        <td class="deger efdeger">19.7525</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/CHF.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>CHF/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">İSVİÇRE FRANGI</td>#}
{#        <td class="deger">15.8075</td>#}
{#        <td class="deger">15.9090</td>#}
{#        <td class="deger efdeger">15.7838</td>#}
{#        <td class="deger efdeger">15.9328</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/SEK.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>SEK/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">İSVEÇ KRONU</td>#}
{#        <td class="deger">1.5804</td>#}
{#        <td class="deger">1.5967</td>#}
{#        <td class="deger efdeger">1.5793</td>#}
{#        <td class="deger efdeger">1.6004</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/CAD.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>CAD/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">KANADA DOLARI</td>#}
{#        <td class="deger">12.3007</td>#}
{#        <td class="deger">12.3561</td>#}
{#        <td class="deger efdeger">12.2551</td>#}
{#        <td class="deger efdeger">12.4031</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/KWD.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>KWD/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">KUVEYT DİNARI</td>#}
{#        <td class="deger">51.1702</td>#}
{#        <td class="deger">51.8398</td>#}
{#        <td class="deger efdeger">50.4026</td>#}
{#        <td class="deger efdeger">52.6174</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/NOK.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>NOK/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">NORVEÇ KRONU</td>#}
{#        <td class="deger">1.6288</td>#}
{#        <td class="deger">1.6398</td>#}
{#        <td class="deger efdeger">1.6277</td>#}
{#        <td class="deger efdeger">1.6435</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/SAR.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>SAR/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">SUUDİ ARABİSTAN RİYALİ</td>#}
{#        <td class="deger">4.2091</td>#}
{#        <td class="deger">4.2166</td>#}
{#        <td class="deger efdeger">4.1775</td>#}
{#        <td class="deger efdeger">4.2483</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/JPY.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>JPY/TRY#}
{#        </td>#}
{#        <td class="para birim">100</td>#}
{#        <td class="para">JAPON YENİ</td>#}
{#        <td class="deger">12.1787</td>#}
{#        <td class="deger">12.2593</td>#}
{#        <td class="deger efdeger">12.1336</td>#}
{#        <td class="deger efdeger">12.3059</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/BGN.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>BGN/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">BULGAR LEVASI</td>#}
{#        <td class="deger">8.4205</td>#}
{#        <td class="deger">8.5307</td>#}
{#        <td class="deger efdeger"></td>#}
{#        <td class="deger efdeger"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/RON.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>RON/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">RUMEN LEYİ</td>#}
{#        <td class="deger">3.3287</td>#}
{#        <td class="deger">3.3722</td>#}
{#        <td class="deger efdeger"></td>#}
{#        <td class="deger efdeger"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/RUB.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>RUB/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">RUS RUBLESİ</td>#}
{#        <td class="deger">0.24364</td>#}
{#        <td class="deger">0.24683</td>#}
{#        <td class="deger efdeger"></td>#}
{#        <td class="deger efdeger"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/IRR.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>IRR/TRY#}
{#        </td>#}
{#        <td class="para birim">100</td>#}
{#        <td class="para">İRAN RİYALİ</td>#}
{#        <td class="deger">0.03738</td>#}
{#        <td class="deger">0.03787</td>#}
{#        <td class="deger efdeger"></td>#}
{#        <td class="deger efdeger"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/CNY.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>CNY/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">ÇİN YUANI</td>#}
{#        <td class="deger">2.3272</td>#}
{#        <td class="deger">2.3576</td>#}
{#        <td class="deger efdeger"></td>#}
{#        <td class="deger efdeger"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/PKR.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>PKR/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">PAKİSTAN RUPİSİ</td>#}
{#        <td class="deger">0.07993</td>#}
{#        <td class="deger">0.08098</td>#}
{#        <td class="deger efdeger"></td>#}
{#        <td class="deger efdeger"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/QAR.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>QAR/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">KATAR RİYALİ</td>#}
{#        <td class="deger">4.2964</td>#}
{#        <td class="deger">4.3527</td>#}
{#        <td class="deger efdeger"></td>#}
{#        <td class="deger efdeger"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/KRW.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>KRW/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">GÜNEY KORE WONU</td>#}
{#        <td class="deger">0.01236</td>#}
{#        <td class="deger">0.01252</td>#}
{#        <td class="deger efdeger"></td>#}
{#        <td class="deger efdeger"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/AZN.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>AZN/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">AZERBAYCAN YENİ MANATI</td>#}
{#        <td class="deger">9.2408</td>#}
{#        <td class="deger">9.3617</td>#}
{#        <td class="deger efdeger"></td>#}
{#        <td class="deger efdeger"></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="para kurkodu">#}
{#<span class="kurgorsel" style="#}
{#                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/AED.gif');#}
{#                 ">#}
{#                 &nbsp;#}
{#		 </span>AED/TRY#}
{#        </td>#}
{#        <td class="para birim">1</td>#}
{#        <td class="para">BİRLEŞİK ARAP EMİRLİKLERİ DİRHEMİ</td>#}
{#        <td class="deger" >4.2744</td>#}
{#        <td class="deger" >4.3303</td>#}
{#        <td class="deger efdeger"></td>#}
{#        <td class="deger efdeger"></td>#}
{#    </tr>#}
{#    </tbody>#}
{#</table>#}


<table class="kurlarTablo" border="0" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>
            <strong>Döviz Kodu</strong><br>Currency Code
        </th>
        <th>
            <strong>Birim</strong><br>Unit
        </th>
        <th>
            <strong>Döviz Cinsi</strong><br>Currency
        </th>
        <th>
            <strong>Döviz Alış</strong><br>Forex Buying
        </th>
        <th>
            <strong>Döviz Satış</strong><br>Forex Selling
        </th>
        <th>
            <strong>Efektif Alış</strong><br>Banknote Buying
        </th>
        <th>
            <strong>Efektif Satış</strong><br>Banknote Selling
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/USD.gif');
                 ">
                 &nbsp;
		 </span>USD/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">ABD DOLARI</td>
        <td class="deger">15.9205</td>
        <td class="deger">15.9492</td>
        <td class="deger efdeger">15.9094</td>
        <td class="deger efdeger">15.9731</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/AUD.gif');
                 ">
                 &nbsp;
		 </span>AUD/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">AVUSTRALYA DOLARI</td>
        <td class="deger">11.1409</td>
        <td class="deger">11.2136</td>
        <td class="deger efdeger">11.0897</td>
        <td class="deger efdeger">11.2808</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/DKK.gif');
                 ">
                 &nbsp;
		 </span>DKK/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">DANİMARKA KRONU</td>
        <td class="deger">2.2464</td>
        <td class="deger">2.2574</td>
        <td class="deger efdeger">2.2448</td>
        <td class="deger efdeger">2.2626</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/EUR.gif');
                 ">
                 &nbsp;
		 </span>EUR/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">EURO</td>
        <td class="deger">16.7425</td>
        <td class="deger">16.7727</td>
        <td class="deger efdeger">16.7308</td>
        <td class="deger efdeger">16.7979</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/GBP.gif');
                 ">
                 &nbsp;
		 </span>GBP/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">İNGİLİZ STERLİNİ</td>
        <td class="deger">19.7183</td>
        <td class="deger">19.8211</td>
        <td class="deger efdeger">19.7045</td>
        <td class="deger efdeger">19.8508</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/CHF.gif');
                 ">
                 &nbsp;
		 </span>CHF/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">İSVİÇRE FRANGI</td>
        <td class="deger">15.9358</td>
        <td class="deger">16.0381</td>
        <td class="deger efdeger">15.9119</td>
        <td class="deger efdeger">16.0622</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/SEK.gif');
                 ">
                 &nbsp;
		 </span>SEK/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">İSVEÇ KRONU</td>
        <td class="deger">1.5929</td>
        <td class="deger">1.6094</td>
        <td class="deger efdeger">1.5918</td>
        <td class="deger efdeger">1.6131</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/CAD.gif');
                 ">
                 &nbsp;
		 </span>CAD/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">KANADA DOLARI</td>
        <td class="deger">12.3874</td>
        <td class="deger">12.4433</td>
        <td class="deger efdeger">12.3416</td>
        <td class="deger efdeger">12.4905</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/KWD.gif');
                 ">
                 &nbsp;
		 </span>KWD/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">KUVEYT DİNARI</td>
        <td class="deger">51.6131</td>
        <td class="deger">52.2884</td>
        <td class="deger efdeger">50.8389</td>
        <td class="deger efdeger">53.0728</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/NOK.gif');
                 ">
                 &nbsp;
		 </span>NOK/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">NORVEÇ KRONU</td>
        <td class="deger">1.6343</td>
        <td class="deger">1.6453</td>
        <td class="deger efdeger">1.6331</td>
        <td class="deger efdeger">1.6490</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/SAR.gif');
                 ">
                 &nbsp;
		 </span>SAR/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">SUUDİ ARABİSTAN RİYALİ</td>
        <td class="deger">4.2442</td>
        <td class="deger">4.2519</td>
        <td class="deger efdeger">4.2124</td>
        <td class="deger efdeger">4.2838</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/JPY.gif');
                 ">
                 &nbsp;
		 </span>JPY/TRY
        </td>
        <td class="para birim">100</td>
        <td class="para">JAPON YENİ</td>
        <td class="deger">12.2924</td>
        <td class="deger">12.3738</td>
        <td class="deger efdeger">12.2469</td>
        <td class="deger efdeger">12.4208</td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/BGN.gif');
                 ">
                 &nbsp;
		 </span>BGN/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">BULGAR LEVASI</td>
        <td class="deger">8.5124</td>
        <td class="deger">8.6238</td>
        <td class="deger efdeger"></td>
        <td class="deger efdeger"></td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/RON.gif');
                 ">
                 &nbsp;
		 </span>RON/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">RUMEN LEYİ</td>
        <td class="deger">3.3652</td>
        <td class="deger">3.4093</td>
        <td class="deger efdeger"></td>
        <td class="deger efdeger"></td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/RUB.gif');
                 ">
                 &nbsp;
		 </span>RUB/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">RUS RUBLESİ</td>
        <td class="deger">0.24915</td>
        <td class="deger">0.25241</td>
        <td class="deger efdeger"></td>
        <td class="deger efdeger"></td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/IRR.gif');
                 ">
                 &nbsp;
		 </span>IRR/TRY
        </td>
        <td class="para birim">100</td>
        <td class="para">İRAN RİYALİ</td>
        <td class="deger">0.03769</td>
        <td class="deger">0.03819</td>
        <td class="deger efdeger"></td>
        <td class="deger efdeger"></td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/CNY.gif');
                 ">
                 &nbsp;
		 </span>CNY/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">ÇİN YUANI</td>
        <td class="deger">2.3467</td>
        <td class="deger">2.3774</td>
        <td class="deger efdeger"></td>
        <td class="deger efdeger"></td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/PKR.gif');
                 ">
                 &nbsp;
		 </span>PKR/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">PAKİSTAN RUPİSİ</td>
        <td class="deger">0.08000</td>
        <td class="deger">0.08105</td>
        <td class="deger efdeger"></td>
        <td class="deger efdeger"></td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/QAR.gif');
                 ">
                 &nbsp;
		 </span>QAR/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">KATAR RİYALİ</td>
        <td class="deger">4.3374</td>
        <td class="deger">4.3941</td>
        <td class="deger efdeger"></td>
        <td class="deger efdeger"></td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/KRW.gif');
                 ">
                 &nbsp;
		 </span>KRW/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">GÜNEY KORE WONU</td>
        <td class="deger">0.01250</td>
        <td class="deger">0.01266</td>
        <td class="deger efdeger"></td>
        <td class="deger efdeger"></td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/AZN.gif');
                 ">
                 &nbsp;
		 </span>AZN/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">AZERBAYCAN YENİ MANATI</td>
        <td class="deger">9.3180</td>
        <td class="deger">9.4399</td>
        <td class="deger efdeger"></td>
        <td class="deger efdeger"></td>
    </tr>
    <tr>
        <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/AED.gif');
                 ">
                 &nbsp;
		 </span>AED/TRY
        </td>
        <td class="para birim">1</td>
        <td class="para">BİRLEŞİK ARAP EMİRLİKLERİ DİRHEMİ</td>
        <td class="deger">4.3101</td>
        <td class="deger">4.3665</td>
        <td class="deger efdeger"></td>
        <td class="deger efdeger"></td>
    </tr>
    </tbody>
</table>


<br>
<hr>


<div id="node-id"></div>
<script>
    {#uzunluk = document.getElementsByClassName("deger").length#}
    {#console.log(uzunluk)#}
    var items = document.getElementsByClassName("deger"),
        i, len;
    len = items.length
    for (i = 0; i < len; i++) {
        if (items[i].innerHTML === "") {
        } else {
            if (i % 4 === 0) {
                document.write("Döviz Alış : " + items[i].innerHTML + "<br>");
                {#console.log("Forex Buying: ", items[i].innerHTML);#}
            } else if ((i + 3) % 4 === 0) {
                document.write("Döviz Satiş : " + items[i].innerHTML + "<br>");
                console.log("Forex Selling: ", items[i].innerHTML);
            } else if (i % 2 === 0) {
                document.write("Efektif Aliş : " + items[i].innerHTML + "<br>");
                console.log("Banknote Buying: ", items[i].innerHTML);
            } else {
                document.write("Efektif Satiş : " + items[i].innerHTML + "<br>");
                console.log("Banknote Selling: ", items[i].innerHTML);
            }
            document.write("<br>");
        }
    }
</script>